
html {
  scroll-snap-type: y proximity;
}


.scroll-area {
  scroll-snap-align: start;
}

.project-image {
  height: 230px;
}


#down-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: 50%;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  transform: rotateZ(45deg);
  animation: bounce 1.25s infinite;
}

#signin {
  background-color: #6f42c1;
  color: white;
}

@keyframes bounce {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}